<!doctype html>
  <title>echo Bird</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ktalk.css') }}">
  <script language=javascript> 
  moveTo(0,0)
  resizeTo(345,500)
  </script>
{% block body %}
	<div class="ktalktheme" id="hackple_ktalktheme" style="width: 320px; height: 480px;">
		<div class="msg">
			{% if passerTalks %}	
			{% for passerTalk in passerTalks %}
			<div class="othertalk">
				<div class="profile_image" style="background: url({{ url_for('static', filename='image/profile_image.png') }}) no-repeat;">
				</div>
				<div class="box">
					<div class="profile_name">
						<p></p>&nbsp;{{ name }}
					</div>
					<div class="a" style="background: url({{ url_for('static', filename='image/chat_balloon_white.left.png') }}) no-repeat;">
					</div>
					<div class="b">
						<p>&nbsp;{{ passerTalk }}&nbsp;</p>
					</div>
					<div class="time">
						&nbsp;{{ time }}
					</div>
				</div>
			</div>
			{% endfor %}
			{% for birdTalk in birdTalks %}
			<div class="mytalk">
				<br />
				<div class="b" style="background: url({{ url_for('static', filename='image/chat_balloon_yellow.right.png') }}) no-repeat;">
					<br />
				</div>
				<div class="a">
					<p>&nbsp;{{ birdTalk }}&nbsp;</p>
				</div>
				<div class="time">
					<br />
					{{ time }}
					<br />
				</div>
			</div>
			{% endfor %}
			{% endif %}
		</div>

		<div class="sendmsg">
    		<textarea class="textarea" id="ktalktheme_msg" style="font-size: 12pt">&nbsp;&nbsp;</textarea>
			<div class="button" onclick="">
 	   			<p>전송</p>
			</div>
			<div class="clear">
			</div>
		</div>
	</div>
{% endblock %}